body{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

figure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;
  margin:0px;
  top:5em;
  border: 15px solid #fff;
}
.close{
  position: absolute;
  top:20px;
  left:20px;
  color: rgba(255,255,255,0.8);
  font-size: 30px;
  z-index: 1;

}
/*Original pictures*/
.pictures{
  display: grid;
  grid-template-columns: repeat(2,200px);
  grid-template-rows: 200px 200px;
  list-style: none;
  grid-gap: 5px;
}
.picture1{ grid-column: 1/2; grid-row: 1/2;}
.picture2{ grid-column: 2/3; grid-row: 1/2;}
.picture3{ grid-column: 1/2; grid-row: 2/3;}
.picture4{ grid-column: 2/3; grid-row: 2/3;}
.pictures li img {
  width: 200px;
  height: 200px;
  object-fit:cover;
}
